services:
  traefik:
    image: traefik:v2.11.0
    container_name: traefik
    restart: unless-stopped
    networks:
      - gitea
      - default
    command:
      - '--log.level=DEBUG'
      - '--api.insecure=true'
      - '--providers.file.directory=/etc/traefik/dynamic'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'
#      - '--providers.docker.defaultRule=HostRegexp(`{_:{{ index .Labels \"com.docker.compose.service\" }}\\..*}`)'
      - '--providers.docker.defaultRule=HostRegexp(`{host:.+}`)'
      - '--serversTransport.insecureSkipVerify=true'
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - './letsencrypt:/letsencrypt'
      - './config/traefik/config.yaml:/etc/traefik/dynamic/traefik.yaml'
      - './config/traefik/certs:/etc/certs/'
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.skill17.com`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"

networks:
  gitea:
    name: gitea
    driver: bridge
